{% extends 'bootstrap/base.html' %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <meta charset="UTF-8">
    {% block title %}{{ content['name'] }} Weather {% endblock %}

    {% block navbar %}
    <div class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle"
                data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Weather</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="https://github.com/tshephoboya">GitHub</a></li>
                </ul>
            </div>
        </div>
    </div>
    {% endblock %}
    {% block content %}
    <form method="post" style="margin-left: 10%">
         {{ form.search_term.label }}
         {{ form.search_term(id="city") }}
         {{ form.submit() }}<br />
    </form><br /><br />

    <table class="table" style="width: 80%; margin-left: 10%">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Names</th>
                <th scope="col">Values</th>
            </tr>
        </thead>
        <tbody>
        {% macro print_element(element) %}
            <tr>
                <td>{{ element  }}</td>
                <td>{{ content[element] }}</td>
            </tr>
        {% endmacro %}
        </tbody>

        {% if content['name'] %}
            {% for element in content %}
                {{ print_element(element) }}
            {% endfor %}
        {% else %}
            <p>City not found</p>
        {% endif %}
    </table>
    {% endblock %}